.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  padding-top: 135px;
  background-color: rgb(233, 233, 233);
}

.login-user, .register-user {
  font-size: calc(0.55em + 0.55vw);
}

#loginbar {
  padding-top: 70px;
  height: 200px;
}

.loginmsg {
  line-height: 20px;
  font-size: calc(0.55em + 0.55vw);
  text-align: left;
  padding-left: 20px;
  color: darkblue;
  padding-top: 90px;
}

#logoutbtn {
  text-align: right;
  padding-top: 90px;
  padding-right: 30px;
  padding-bottom: 10px;
}

/* #table {
  background-color: rgb(105, 213, 255);
  text-align: center;
  padding: 10px;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  max-height: 200px;
  position: relative;
  border-collapse: collapse;
} */

#score {
  text-align: center;
  padding: 10px;
}

.wrapper {
  padding: 10px;
}

.responsive {
  width: 100%;
  height: auto;
}

.row {
  padding: 5px;
}

ul, li {
  font-size: calc(0.55em + 0.55vw);
  max-width: 100%;
  list-style: none;
  padding: 2px;
}

tbody {
  font-size: calc(0.45em + 0.45vw);
}

thead {
  font-size: calc(0.5em + 0.5vw);
}

