.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  padding-top: 135px;
  background-color: rgb(233, 233, 233);
}

.login-user, .register-user {
  font-size: calc(0.55em + 0.55vw);
}

.loginmsg {
  font-size: calc(0.55em + 0.55vw);
  text-align: right;
  padding-right: 20px;
  color: darkblue;
  padding-top: 90px;
}

.logout {
  text-align: left;
}

#maindash {
  background-color: aqua;
  text-align: center;
  padding: 10px;
}

#wait {
background-color: lightgray;
padding: 10px;
}

#inprocess {
  background-color:lightyellow;
  padding: 10px;
}

#done {
  background-color:lightgreen;
  padding: 10px;
}

#table {
  background-color: white;
  text-align: center;
  padding: 10px;
  font-size: calc(0.5em + 0.5vw);
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#score {
  background-color: aqua;
  text-align: center;
  padding: 10px;
}

.wrapper {
  padding: 10px;
}

.responsive {
  width: 100%;
  height: auto;
}

