#maindash {
    /* text-align: center; */
    padding: 10px;
  }

#subtitle {
  text-align: center;
  background-color: rgb(233, 233, 233);
  border-style: groove;
  border-radius: 5px;
  border-color: rgb(233, 233, 233);
}

.maintitle {
  text-align: center;
  /* background-color: rgb(233, 233, 233);
  border-style: groove;
  border-radius: 5px;
  border-color: rgb(233, 233, 233); */
}

.listitems {
  padding-top: 2px;
}