#table {
    background-color: rgb(105, 213, 255);
    text-align: center;
    padding: 10px;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    /* max-height: 200px; */
    /* position: relative; */
    /* border-collapse: collapse; */
  }