.navbar {
    background-color: rgb(233, 233, 233);
}

.navbar-brand {
    font-size: calc(1em + 1vw);
}

a:hover {
    text-decoration: none;
}

p {
    font-size: calc(0.6em + 0.6vw);
    padding-top: 20px;
}

.p-2, .btn {
    font-size: calc(0.6em + 0.6vw);
}