.jumbotron {
    min-height: 160px;
    height: 360px;
    background-color: rgb(105, 213, 255);
    background-image: url("../../images/hero.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.container {
    font-size: calc(0.7em + 0.7vw);
    max-width: 100%;
}

h4, p {
    text-align: left;
}